<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/admin">Dashboard</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/">Retour au site</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">
                            <span data-feather="file"></span>
                            Utilisateurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/post">
                            <span data-feather="shopping-cart"></span>
                            Projets
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/categorie">
                            <span data-feather="shopping-cart"></span>
                            Catégories projet
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/comments">
                            <span data-feather="users"></span>
                            Commentaires
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/skill">
                            <span data-feather="users"></span>
                            Compétences
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/job">
                            <span data-feather="users"></span>
                            Experiences pro
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/formation">
                            <span data-feather="users"></span>
                            Formations
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% if session._sf2_attributes.warning is defined %}
                <div class="alert alert-danger" role="alert">
                    <h6>{{ session._sf2_attributes.warning }}</h6>
                </div>
            {% endif %}
            {% if session._sf2_attributes.success is defined %}
                <div class="alert alert-success" role="alert">
                    <h6>{{ session._sf2_attributes.success }}</h6>
                </div>
            {% endif %}

            {% block content %} {% endblock %}
        </main>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/jquery.stellar.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/assets/js/scrollax.min.js"></script>
<script src="/assets/js/main.js"></script>
{% block addjavascripts %} {% endblock %}
</body>
</html>
